<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yuekao"
        tools:targetApi="31">
        <activity
            android:name=".accountbook.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".accountbook.AboutUsActivity" ></activity>
        <activity android:name=".accountbook.LoginActivity" ></activity>
        <activity android:name=".accountbook.RegistActivity" ></activity>
        <activity android:name=".accountbook.ResPwdActivity" ></activity>
        <activity android:name=".accountbook.SpendingActivity" ></activity>
        <activity android:name=".accountbook.SettingActivity" ></activity>
        <activity android:name=".accountbook.WishActivity" ></activity>
        <activity android:name=".accountbook.CountActivity" ></activity>
        <activity android:name=".accountbook.ExpenseProcesActivity"></activity>
        <activity android:name=".accountbook.KeyPad"></activity>

        <activity android:name="org.achartengine.GraphicalActivity" />
    </application>

</manifest>